<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tipos de Ambiente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tipos de Ambiente</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="BotonFlotante">
    <ion-fab-button class="boton-fab-personalizado" (click)="abrirModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>