<ion-header>
  <ion-toolbar class="AplicateMalditasea">
    <ion-title class="modal-title">Añade un Ambiente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="custom-input">
    <ion-label position="floating">Nombre del Ambiente</ion-label>
    <ion-input [(ngModel)]="nombreAmbiente"></ion-input>
  </ion-item>
  <div class="button-container">
    <ion-button expand="block" shape="round" (click)="guardarAmbiente()">
      Guardar
    </ion-button>
  </div>
</ion-content>
