<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content scroll-y="false">
  <ion-grid class="singup-container">

    <ion-row class="cont-titulo ion-justify-content-center">
      <ion-col size="12" class="ion-text-start">
        <ion-title><Strong>¿Cómo usar Watty?</Strong></ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="cont-singup ion-justify-content-center">
      <ion-col size="12" class="ion-text-start">
        <p class="Texto1">
          No sé xd
        </p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>