<ion-header>
  <ion-toolbar>
    <ion-title>Detalle del Ambiente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Nombre Electrodomestico</h2>
        <p>Consumo:  kWh</p>
        <p>Horas de uso:  horas</p>
        <p>Potencia:  W</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ng-template #noData>
    <ion-text color="medium">
      <p>No hay electrodomésticos registrados para este ambiente.</p>
    </ion-text>
  </ng-template>  
</ion-content>
