<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--<ion-back-button default-href="#"></ion-back-button>-->
    </ion-buttons>
    <ion-title>Ambientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ambiente - Casa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Total de Habitaciones: 4</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Consumo actual: 110kWh</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Nose xddd:</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

