:root{
    --color1: #0BDA51;
    --colorA: #080808;
}

.log-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}




.Tit1{
    font-size: 30px;
    color: black;
}

.logoW{
    width: 200px; // Ajusta el tamaño del logo
    height: auto;
}