<ion-content>
  <ion-grid class="log-container">
    <!-- Primera mitad, va logo y nombre -->
    <ion-row class="cont-titulo ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <div class="logo">
          <ion-img class="logoW" src="../../assets/icon/IconWatty500x500.png"></ion-img>
        </div>
        <ion-title class="Tit1">Watty</ion-title>
      </ion-col>
    </ion-row>

    <!-- Segunda mitad, va todo el login -->
    <ion-row class="cont-login ion-justify-content-center">
      <ion-col size="12">
        <ion-list lines="none" class="form">
          <!-- Correo -->
          <ion-item class="custom-input">
            <ion-label>Correo</ion-label>
            <ion-input class="ion-text-right" type="email" [(ngModel)]="username"></ion-input>
            <ion-icon slot="end" name="at-outline"></ion-icon>
          </ion-item>

          <!-- Contraseña -->
          <ion-item class="custom-input">
            <ion-label>Contraseña</ion-label>
            <ion-input class="ion-text-right" type="password"></ion-input>
            <ion-icon slot="end" name="eye-outline"></ion-icon>
          </ion-item>

          <!-- Cositas opcionales -->
          <ion-row class="A1 ion-align-items-center">
            <ion-col size="4">
              <ion-checkbox>Recuerdame</ion-checkbox>
            </ion-col>
            <ion-col size="8" class="ion-text-right">
              <a class="save"><strong>Recuperar Contraseña</strong></a>
            </ion-col>
          </ion-row>
          

          <!-- boton de login -->
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button class="botonA2" shape="" expand="block" (click)="login()">Iniciar sesión</ion-button>
            </ion-col>
          </ion-row>

          <!-- Crea tu cuenta -->
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
              <p class="Text1">¿No tienes una cuenta en Watty?<a class="singup" (click)="signup()"><br><strong>Crea una cuenta</strong></a></p>
            </ion-col>
          </ion-row>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


