<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--<ion-back-button default-href="#"></ion-back-button>-->
    </ion-buttons>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--searching bar-->

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

  <!--/searching bar-->

  <!--cards-->
  <ion-item *ngFor="let appliance of appliances">
    <ion-thumbnail slot="start">
      <img [src]="appliance.image">
    </ion-thumbnail>
    <ion-label>
      <h2>{{ appliance.name }}</h2>
      <p>{{ appliance.kWh }} kWh</p>
      <p>${{ appliance.costPerHour }}/m</p>
    </ion-label>
  </ion-item>
  <!--/cards-->

 <!--summary card-->
 <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen de consumo</ion-card-title>
      <ion-card-subtitle>{{ currentDate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Total kWh</ion-col>
          <ion-col class="ion-text-right">{{ totalKw }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>por mes</ion-col>
          <ion-col class="ion-text-right">${{ costPerMonth }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Total</ion-col>
          <ion-col class="ion-text-right"><strong>${{ totalCost }}</strong></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!--/summary card-->

</ion-content>
