.toolbar{
  --background: linear-gradient(135deg, #b2db74, #35ba7e);
  color:ghostwhite
}

.img_simples {
    
    height:200px;
    display:block;
    margin: 0 auto;
}
ion-card {
    padding-top:10px;
    --background:#5AC375;
    --color: #fff;
    border-radius: 7px;
  }

  .second-card{
    --background:#F2D57D;
  }
  .alert-wrapper.sc-ion-alert-md {
    border-radius: 25px !important;
  }

  //no me cambia el valor del icon no se por que uwu
 .ion-icon {
    font-size:50px;
 }
  
  ion-card-title {
    --color: #fff;
    font-size: 12px;
  }
  
  ion-card-subtitle {
    --color: #fff;
    font-size: 12px;

  }
  ion-col{
    
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    size:"10";
    display:flex;
 
  }
  .ion-grid {
    --ion-grid-columns: 10;
  }

  ion-text h4{
    padding: 16px;
  }