.AplicateMalditasea{
    --background: linear-gradient(135deg, #b2db74, #35ba7e) !important;
    color: white;
    text-align: center;
  }
  
.custom-input {
    --highlight-color-focused: #34a853;  // Cambia el color del borde al enfocar
    --background: #f3f3f3;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-button {
    width: 80%;  // Hace el botón más angosto
    --border-radius: 20px;  // Redondea el botón
    --background: #5AC375;
    --border-radius: 25px;
    font-weight: bold;
  }

  ion-toggle{
    --track-background-checked: rgba(90, 195, 116, 0.433);
    --handle-background-checked: #5AC375;
}